<h1 class='text-center'>Dashboard</h1>
<div class="card-deck w-50 mx-auto ">
  <div class="card text-center" style="width: 20rem;">
    <div class="card-body">
      <div id='job_count_by_interest'>
        <h3 class='card-title'>Jobs by Interest</h3>
        <% @interests_count.each do |interest, count| %>
          <p id="<%= interest %>-stars" class="stars">
              <%= interest %> <%= 'star'.pluralize(interest) %> -
              <%= count %> <%= 'Job'.pluralize(count) %>
          </p>
          <% end %>
        </div>
      </div>
    </div>

    <div class="card text-center" style="width: 20rem;">
      <div class="card-body">
        <div id='top_companies_by_interest'>
          <h3 class='card-title'>Top Companies by Interest</h3>

          <% @top_companies_by_interest.each do |company, interest| %>
          <p id="<%= company %>-by_interest">
            <%= company %>:
            <%= interest %> <%= 'Star'.pluralize(interest) %>
          </p>
          <% end %>
        </div>
      </div>
    </div>
</div>
<div class="card w-25 mt-4 mx-auto text-center">
  <div class="card-body">
    <div class="job_count">
        <% @city_counts.each do |city, count| %>
        <p>
          <%= link_to "#{city} Jobs", jobs_path(:location => city) %>:
          <%= count %> <%= 'Job'.pluralize(count) %>
        </p>
        <% end %>
    </div>
  </div>
</div>
