<h1>Edit Job</h1>
<!-- <%= form_for [@company, @job], :html => { :id => 'company_dropdown' } do |f| %>
  <%= f.collection_select(:company_id, @companies, :id, :name ) %>
<% end %>
<%= form_for [@company, @job], :html => { :id => 'category_dropdown' } do |f| %>
  <%= f.collection_select(:category_id, @categories, :id, :title ) %>
<% end %> -->
<%= render partial: 'form' %>
