<strong><%= @title %></strong> Jobs

<%= link_to "Add New Job", new_job_path %>

<div class='column-titles'>
  <ul>
    <li>Title</li>
    <li>Company</li>
    <li>
      <%= link_to "City", jobs_path(sort: "location"), id: "city-sort" %>
    </li>
    <li>
      <%= link_to "Interests", jobs_path(sort: "interest"), id: "interest-sort" %>
    </li>
  </ul>
</div>


<% @jobs.each.with_index do |job, index| %>
  <ul id="<%= index + 1 %>" class="job_<%=job.id%>">
    <li><%= job.title %></li>
    <li><%= job.company.name %></li>
    <li><%= job.city %></li>
    <li><%= job.level_of_interest %></li>
    <%= link_to "Edit", edit_job_path(job) %>
    <%= link_to "Delete", job_path(job), method: "delete" %>
  </ul>
<% end %>
</ul>
