<strong><%= @title %></strong> Jobs

<% @jobs.each.with_index do |job, index| %>
  <ul id="<%= index + 1 %>" class="job_<%=job.id%>">
    <li><%= job.title %></li>
    <li><%= job.company.name %></li>
    <li><%= job.city %></li>
    <li><%= job.level_of_interest %></li>
    <%= link_to "Edit", edit_job_path(job) %>
    <%= link_to "Delete", job_path(job), method: "delete" %>
  </ul>
<% end %>
</ul>
