<div class='ml-2'>
  <h1><%= @job.title %> at <%= link_to @job.company.name, company_path(@job.company) %></h1>
  <br>
  <%= link_to "See other development jobs", jobs_path %>
  <br>

  <b>Location:</b> <%= @job.city %>
  <br>

  <b>Interest:</b> <%= @job.level_of_interest %>
  <br>

  <b>Description:</b> <%= @job.description %>
  <br>

</div>



<!-- Company: <%= link_to @job.company.name, company_path(@job.company) %> -->

<div class="comment_box ml-2">
  <%= form_for [@job, @job_comment] do |f| %>
    <%= f.label "Notes: " %>
    <%= f.text_field :content %>
    <%= f.submit "Save" %>
  <% end %>
</div>

<div>
  <ul>
    <% @comments.each do |comment| %>
    <li>
      <%= comment.updated_at %>
      <%= comment.content %>
    </li>
    <% end %>
  </ul>
</div>
