<h1 class='ml-3'><%= @company.name %></h1>

<div class='ml-2'>
<%= link_to "Edit", edit_company_path(@company), class: "btn btn-info" %>
<%= link_to "Delete", company_path(@company), method: "delete", class: "btn btn-info",
data: {confirm: "You will lose all contacts and jobs associated with this company. Are you sure you want to delete?"} %>
</div>

<div class='ml-4'>
  <%= link_to "See all #{@company.name} jobs", company_jobs_path(@company) %>
</div>
<div class="new_contact_form section">
  <h4>Add New Contact</h4>
    <%= form_for [@company, @company_contact] do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.label :position %>
    <%= f.text_field :position %>
    <%= f.label :email %>
    <%= f.text_field :email %>
    <%= f.submit "Save" %>
  <% end %>
</div>


<div class="table-responsive company_contacts section">
  <h4>Existing Contacts</h4>
  <table class="table table-borderless">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Position</th>
        <th scope="col">Email</th>
      </tr>
    </thead>
    <tbody>
      <% @contacts.each do |contact| %>
      <tr>
        <td><%= contact.name %></td>
        <td><%= contact.position %></td>
        <td><%= contact.email %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
