<strong><%= @company.name %></strong>

<%= link_to "Edit", edit_company_path(@company) %>
<%= link_to "Delete", company_path(@company), method: "delete",
data: {confirm: "You will lose all contacts and jobs associated with this company. Are you sure you want to delete?"} %>

<div class="new_contact_form">
  <h2>Add New Contact</h2>
    <%= form_for [@company, @company_contact] do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.label :position %>
    <%= f.text_field :position %>
    <%= f.label :email %>
    <%= f.text_field :email %>
    <%= f.submit "Save" %>
  <% end %>
</div>

<div class="company_contacts">
  <h2>Existing Contacts</h2>
  <ul>
    <% @contacts.each do |contact| %>
    <li><%= contact.name %></li>
    <li><%= contact.position %></li>
    <li><%= contact.email %></li>
    <% end %>
  </ul>

</div>
