<h1 class='title'><%= @category.title %> Jobs</h1>

<p><%= link_to "Add New Job", new_job_path %>

<% @category.jobs.each do |job| %>
<div id='job-<%= job.id %>'>
  <label>Title</label>
    <p><%= link_to job.title, job_path(job) %></p>
  <label>Company</label>
    <p><%= link_to job.company.name, company_path(job.company_id) %></p>
  <label>City</label>
    <p><%= job.city %></p>
  <label>Interest</label>
    <p><%= job.level_of_interest %></p>
  <%= link_to "Edit", edit_job_path(job, :company_id => job.company_id) %>
  <%= link_to "Delete", job_path(job), method: "delete" %>
</div>
<% end %>
