<h1 class='title'><%= @category.title %> Jobs</h1>

<% @category.jobs.each do |job| %>
<div id='job-<%= job.id %>'>
  <label>Title</label>
    <p><%= job.title %></p>
  <label>Company</label>
    <p><%= job.company.name %></p>
  <label>City</label>
    <p><%= job.city %></p>
  <label>Interest</label>
    <p><%= job.level_of_interest %></p>
  <%= link_to "Edit", edit_job_path(:job => { :company_id => job.company_id}) %>
  <%= link_to "Delete", job_path(job), method: "delete" %>
</div>
<% end %>
